@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: rgb(87, 84, 84);
    --secondary: #fc4311;

    --black: #000;
    --white: #fff;
    --textColor1: rgb(148, 143, 143);
    --textColor2: #3d3c3c;
    --textColor3: rgb(247, 120, 36);
    --padding: 30px 10px;
}

html{
    font-size: 10px;

}

body{
    font-size: 1.6rem;
    font-family: 'Kalam', cursive;
    text-align: center;
}

h2{
    font-size: 4rem;
}

h5{
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-family: 'Times New Roman', Times, serif;
}

hr {
    border: none;
    width: 10%;
    height: 9px;
    margin: auto;
    background-color: var(--secondary);
}

img{
    width: 100%;
}



/* ************
HEADER SECTION
************ */

/* ADDed SECTION for Burger menu - Andrijana TiCo*/

.container {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger {
    display: none;
}

header{
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
}

header span{
    color: var(--white);
    font-size: 2rem;
    text-transform: uppercase;
    margin-left: 40px;
}

header span:hover{
    color: var(--secondary);
    transition: 0.8s;
}

header div a{
    color: var(--white);
    text-decoration: none;
}

header nav ul{
    list-style: none;
   
}

header nav ul li{
    display: inline-block;
    margin-left: 20px;
    
}

header nav ul li a{
    color: var(--secondary);
    text-decoration: none;
}

header nav ul li a:hover{
    color: white;
    transition: 0.8s;
}

.fa-brands {
    font-size: 50px;
}

.fa-html5 {
    color: red;
}

.fa-css3 {
    color: rgb(89, 141, 190);
}

.fa-js {
    color: yellow;
}

/* ************
HERO SECTION
************ */

.hero{
    background-image: url(img/header.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 15px;
}

.hero div{
    border: 1px solid var(--black);
    border-radius: 40px 40px 0px;
    padding: 15px;
    width: 50%;
    text-align: center;
}

.hero h3{
    font-size: 3rem;
    color: var(--textColor3);
    font-weight: bold;
}

.hero h4{
    color: var(--textColor2);
    padding-top: 15px;
    font-size: 2rem;
    font-weight: bold;
}

.hero p{
    color: var(--textColor1);
    margin-bottom: 15px;
}

.hero a{
    background-color: var(--textColor3);
    padding: 8px 35px;
    color: var(--white);
    text-decoration: none;
    border-radius: 10px;
}
.hero a:hover{
    color: var(--secondary);
    background-color: var(--primary);
    transition: 0.8s;
}


/* ************
INTERESTS SECTION
************ */
.about h2{
    padding-top: 50px;
}

.about hr{
    height: 4px;
    width: 7%;
    margin-bottom: 20px;
}

.blog{
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
}

.blog div{
    border: 1px solid var(--textColor1);
    flex: 0 0 30%;
    position: relative;
}

.blog div hr{
    height: 3px;
    width: 10%;
    margin-top: 10px;
    margin-bottom: -1px;
}

.blog div p{
    padding: 9px;

}
.blog .interests1{
    background-color: red;
    width: 30%;
    position: absolute;
    top: 0;
    right: 0;
}


/* ************
SKILLS SECTION
************ */

.skills {
    background-color: var(--black);
    color: var(--white);
    padding: var(--padding);
}

.skills hr{
    height: 4px;
    width: 7%;
    margin-bottom: 20px;
}

.skills h4 {
    padding: 20px 0;
    font-size: 32px;
}

.skills article{
    display: flex;
    justify-content: space-between;
}

.skills article div{
    flex: 0 0 31%;
}



/* ************
PORTFOLIO SECTION
************ */
.portfolio{
    margin-top: 20px;
}

.portfolio hr{
        height: 4px;
        width: 7%;
        margin-bottom: 25px;
}

.portfolio article{
    display: flex;
    flex-wrap: wrap;
    padding: 0 1%;
}

.portfolio article img{ 
    width: 50%;
    flex: 0 0 10%;
}



/* ************
FOOTER SECTION 
************ */
footer{
    background-color: var(--secondary);
    margin-top: 1.3rem;
}

footer hr{
    background-color: var(--black);
    height: 4px;
    width: 7%;
    margin-bottom: 20px;;
}

footer div {
    padding-bottom:  30px;
}

footer a{
    margin-right: 2rem;
    font-size: 4rem;
    color: var(--black);
}

footer a:hover {
    color: var(--white);
    transition: .3s linear;
}


/* RESPONSIVE 768px - Andrijana TiCo*/

@media screen and (max-width: 768px) {
    
    /* HAMBURGER MENU AND NAV BAR */
    .container {
        width: 98%;
    }

    .hamburger {
        position: relative;
        display: block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        margin-right: 15px;
        top: 0; 
        right: 0;

        appearance: none;
        background: none;
        outline: none;
        border: none;
    }

    .hamburger .bar, .hamburger::after, .hamburger::before {
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background-color: var(--white);
        margin: 6px 0px;
        transition: 0.6s;
    }

    .hamburger.is-active::before {
        transform: rotate(-45deg) translate(-8px, 6px);
    }

    .hamburger.is-active::after {
        transform: rotate(45deg) translate(-9px, -8px);
    }

    .hamburger.is-active .bar {
        opacity: 0;
    }

    .navBar {
        height: 55px;
        background-color: var(--secondary);
        width: 100%;
        position: fixed;
        top: 0;
        padding-bottom: 5px;
    }
     
    .about {
        position: relative;
        z-index: -1;    
    }

    .mobile-nav {
        position: fixed;
        top: 0%;
        left: 100%;
        width: 100%;
        min-height: 100vh;
        display: block;
        z-index: 98;
        background-color: var(--secondary);
        padding-top: 120px;
        transition: 0.7s;
    }

    .mobile-nav li {
        display: block;
        width: 100%;
        max-width: 200px;
        margin: 0 auto 16px;
        text-align: center;
        margin-bottom: 16px;
        padding: 12px 16px;
        background-color: var(--textColor2);
        border-radius: 25px 0 25px 0;

        color: var(--white);
        text-decoration: none;
    }


    .mobile-nav.is-active {
        left: 0;
    }

    .hero a{
        padding: 6px 24px;
        border-radius: 8px;
        font-size: 16px;
    }

    header span {
        position: relative;
        top: 0;
        padding-top: 5px;
     }

    header span, .hamburger {
        position: fixed;
        z-index: 99;
        margin-top: 8px;
    }

    /* ABOUT SECTION */

    .about .blog {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .about .blog div:nth-child(2) {
        margin: 40px 0;
    }

    .about article div {
        flex: 0 0 90%;
    }

    /* SKILLS */
    .fa-brands {
        font-size: 40px;
    }

    .skills h4 {
        font-size: 22px;
    }


    /* FOOTER */
    footer h2 {
        font-size: 32px;
        padding-top: 30px;
    }

    footer a {
        font-size: 28px;
    }
}


/* Responsive for mobile phones 567px*/

@media screen and (max-width: 567px) {

    /* MAIN */
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 2.6rem;
    }

    h4 {
        font-size: 2rem;
    }

    p {
        font-size: 1.4rem;
    }

    /* HERO */
    .hero a{
        padding: 4px 22px;
        border-radius: 6px;
        font-size: 14px;
    }

    /* INTEREST */
    .blog .interests1 {
        width: 20%;
    }
    /* SKILLS */
    .skills article {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: auto;
    }

    .skills article div:nth-child(2) {
        margin: 30px 0;
    }

    .fa-brands {
        font-size: 35px;
    }

    /* FOOTER */

    footer h2 {
        font-size: 28px;
        padding-top: 30px;
    }

    footer a {
        font-size: 22px;
    }

    

}