@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: rgb(87, 84, 84);
    --secondary: #fc4311;

    --black: #000;
    --white: #fff;
    --textColor1: rgb(148, 143, 143);
    --textColor2: #3d3c3c;
    --textColor3: rgb(247, 120, 36);
    --padding: 30px 10px;
}

html{
    font-size: 10px;

}

body{
    font-size: 1.6rem;
    font-family: 'Kalam', cursive;
    text-align: center;
}

h2{
    font-size: 4rem;
}

h5{
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-family: 'Times New Roman', Times, serif;
}

hr {
    border: none;
    width: 10%;
    height: 9px;
    margin: auto;
    background-color: var(--secondary);
}

img{
    width: 100%;
}



/* ************
HEADER SECTION
************ */

header{
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
}

header span{
    color: var(--white);
    font-size: 2rem;
    text-transform: uppercase;
}

header span:hover{
    color: var(--secondary);
    transition: 0.8s;
}

header div a{
    color: var(--white);
    text-decoration: none;
}

header nav ul{
    list-style: none;
   
}

  header nav ul li{
    display: inline-block;
    margin-left: 20px;
    
}

header nav ul li a{
    color: var(--secondary);
    text-decoration: none;
}

header nav ul li a:hover{
    color: white;
    transition: 0.8s;
}


/* ************
HERO SECTION
************ */

.hero{
    background-image: url(img/header.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 15px;
}

.hero div{
    border: 1px solid var(--black);
    border-radius: 40px 40px 0px;
    padding: 15px;
    width: 50%;
    text-align: center;
}

.hero h3{
    font-size: 3rem;
    color: var(--textColor3);
    font-weight: bold;
}

.hero h4{
    color: var(--textColor2);
    padding-top: 15px;
    font-size: 2rem;
    font-weight: bold;
}

.hero p{
    color: var(--textColor1);
    margin-bottom: 15px;
}

.hero a{
    background-color: var(--textColor3);
    padding: 8px 35px;
    color: var(--white);
    text-decoration: none;
    border-radius: 10px;
}
.hero a:hover{
    color: var(--secondary);
    background-color: var(--primary);
    transition: 0.8s;
}


/* ************
INTERESTS SECTION
************ */
.about h2{
    padding-top: 50px;
}

.about hr{
    height: 4px;
    width: 7%;
    margin-bottom: 20px;
}

.blog{
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
}

.blog div{
    border: 1px solid var(--textColor1);
    flex: 0 0 30%;
    position: relative;
}

.blog div hr{
    height: 3px;
    width: 10%;
    margin-top: 10px;
    margin-bottom: -1px;
}

.blog div p{
    padding: 9px;

}
.blog .interests1{
    background-color: red;
    width: 30%;
    position: absolute;
    top: 0;
    right: 0;
}


/* ************
SKILLS SECTION
************ */

.skills {
    background-color: var(--black);
    color: var(--white);
    padding: var(--padding);
}

.skills hr{
    height: 4px;
    width: 7%;
    margin-bottom: 20px;
}

.skills article{
    display: flex;
    justify-content: space-between;
}

.skills article div{
    flex: 0 0 31%;
}



/* ************
PORTFOLIO SECTION
************ */
.portfolio{
    margin-top: 20px;
}

.portfolio hr{
        height: 4px;
        width: 7%;
        margin-bottom: 25px;
}

.portfolio article{
    display: flex;
    flex-wrap: wrap;
    padding: 0 1%;
}

.portfolio article img{ 
    width: 50%;
    flex: 0 0 10%;
}



/* ************
FOOTER SECTION 
************ */
footer{
    background-color: var(--secondary);
    margin-top: 1.3rem;
}

footer hr{
    background-color: var(--black);
    height: 4px;
    width: 7%;
    margin-bottom: 20px;;
}

footer a{
    margin: 0.7rem;
    margin-bottom: 20px;
}

